@import "../../assets/scss/common/variable";
@import "../../assets/scss/common/mixins";

.scroll-top{
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 102;
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @include max(768px){
        right: 15px;
        bottom: 15px;
    }
    .btn{
        i{
            font-size: 20px;
        }
    }
}