@import "../../assets/scss/common/variable";
@import "../../assets/scss/common/mixins";

.newsletter{
    background: $white;
    width: 1262px;
    border-radius: 26px;
    border: 1px solid rgba($grey, 0.4);
    @include max(1280px){
        width: 90%;
    }
    .newsletter-wrapper{
        padding: 60px 80px;
        line-height: 1;
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 100px;
        align-items: center;
        @include max(1200px){
            padding: 40px 60px;
        }
        @include max(992px){
            grid-template-columns: 1fr;
            row-gap: 60px;
        }
    }
    .title-h2{
        margin-bottom: 0;
        color: $grey;
    }
    form{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        @include max(992px){
            justify-content: flex-start;
            width: 100%;
        }
        @include max(600px){
            flex-direction: column;
        }
    }
    .form-group{
        @include max(600px){
            width: 100%;
        }
        &:not(:last-child){
            margin-right: 32px;
            @include max(992px){
                width: 100%;
            }
            @include max(600px){
                margin-right: 0;
                margin-bottom: 32px;
            }
        }
        
    }
    label{
        display: block;
        font-size: 20px;
        color: $grey;
        margin-bottom: 16px;
        @include max(1200px){
            font-size: 15px;
        }
    }
    .input-forms{
        width: 100%;
        line-height: 1;
        padding: 20px 40px;
        border: 1px solid $color-primary-2;
        background: $color-primary-2;
        border-radius: 12px;
        font-size: 20px;
        color: $grey;
        @include max(1440px){
            font-size: 15px;
            padding: 20px;
        }
        &::placeholder{
            font-size: 20px;
            color: $color-primary;
            @include max(1440px){
                font-size: 15px;
            }
        }
        &:focus{
            outline: none;
            border-color: $grey;
        }
    }
    .btn{
        @include max(600px){
            width: 100%;
        }
    }
}