@import "../../assets/scss/common/variable";
@import "../../assets/scss/common/mixins";

.blocTitle{
    .title-h2{
        position: relative;
        margin-bottom: 52px;
        display: inline-block;
        &::after{
            content: "";
            display: block;
            position: relative;
            top: 20px;
            height: 1px;
            width: 50%;
            background: $color-primary;
        }
    }
    p{
        color: $grey;
    }
}