html{
  scroll-behavior: smooth;
}
body {
  color: $color-primary;
  font-family: $rubik;
  font-size: 16px;
  line-height: 1.45;

  @include max(1280px) {
    font-size: 15px;
  }
}

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(#000,0.3);
	border-radius: 10px;
	background-color: $white-f4;
}

*::-webkit-scrollbar
{
	width: 6px;
	background-color: $white-f4;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $color-primary;
}

*::selection {
  background-color: $color-primary;
  color: $white;
}

  h1,
  h2,h3 {
    font-family: $playfair;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .title-h1,
  .title-h2,
  .title-h3,
  .title-h4,
  .title-h5,
  .title-h6 {
    line-height: 1.25;
  }

  h1,
  .title-h1 {
    font-size: 53px;

    @media (max-width: 1366px) {
      font-size: 41px;
    }

    @include max(992px) {
      font-size: 38px;
    }
  }

  h2,
  .title-h2 {
    font-size: 64px;
    margin-bottom: 20px;
    color:$black;
    @media (max-width: 1680px) {
      font-size: 41px;
      margin-bottom: 15px;
    }

    @include max(992px) {
      font-size: 34px;
      margin-bottom: 30px;
      line-height: 1;
    }
  }

  h3,
  .title-h3 {
    font-size: 28px;
    @include max(1200px) {
      font-size: 24px;
    }
  }

  h4,
  .title-h4 {
    font-size: 18px;
    font-family: $playfair;

    @include max(1440px) {
      font-size: 16px;
    }
  }

  h5,
  .title-h5 {
    font-size: 16px;
    font-weight: 500;
  }

  h6,
  .title-h6 {
    font-size: 14px;
    font-weight: 500;
  }

  .txt-grey {
    font-family: $rubik;
    color: $grey;
  }

  .txt-white {
    color: $white !important;
  }

  a {
    text-decoration: none;
  }

  p {
    margin-bottom: 17px;

    @include max(992px) {
      font-size: 15px;
      line-height: 19px;
    }
  }

  li {
    &::marker {
      color: $color-secondary;
    }
  }

  textarea {
    border-radius: 5px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  select {
    -webkit-appearance: none;

    &:hover {
      cursor: pointer;
    }
  }

.container {
  max-width: 1440px;
  margin: auto;

  @media (max-width: 1600px) {
    max-width: 1555px;
    padding: 0 6%;
  }

  @include max(992px) {
    padding: 0 20px;
  }
}

.text-limit-2-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text-limit-3-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}


