.page{
    h1{
      display: none;
    }
    .newsletter{
      margin: auto;
      margin-bottom: -109px;
      position: relative;
      z-index: 2;
      @include max(1200px){
        margin-bottom: -50px;
      }
      @include max(600px){
        margin-bottom: -30px;
      }
    }
    .footerPage{
      position: relative;
      z-index: 1;
    }

    .section{
        padding: 140px 0;
        @include max(1440px){
          padding: 100px 0;
        }
        @include max(1200px){
          padding: 50px 0;
        }
        &.popular-destination{
          p{
            margin-bottom: 0;
          }
        }
    }
  }