.page{
    .newsletter{
      margin: auto;
      margin-bottom: -109px;
      position: relative;
      z-index: 2;
      @include max(1200px){
        margin-bottom: -50px;
      }
      @include max(600px){
        margin-bottom: -30px;
      }
    }
    .footerPage{
      position: relative;
      z-index: 1;
    }
  }