$font-path-rubik: '/assets/fonts/Rubik/';
$font-path-playfair: '/assets/fonts/PlayfairDisplay/';
$font-path-icon: '/assets/fonts/font-icon/';

//Color
$color-primary: #FF7757;
$color-primary-2: #FFD2C7;
$color-secondary: #331811;
$color-secondary-2: #61291C;
$color-third: #FFF8F1;
$white: #FFF;
$black: #172432;
$grey: #767E86;
$grey-2: #5A5453;
$grey-3: #5B5B5B;
$grey-4: #EEEAEA;
$light-grey: #DFE1E6;
$red: #FF0000;
$red-dark: #D30E3F;
$blue: #172432;
$blue-2: #DDFAFE;
$pink: #ED1767;
$light-blue: #1A73E8;
$paster-blue: #B5F4FD;
$color-shadow: #00000040;
$blue-b5: #B5F4FD;
$white-f4: #F4F7FA;
$violet :#8D5FFF;
$transparent-white: #ffffff14;
$transparent-blue: #2322F040;
$transparent-grey: #93959740;
$transparent-grey-2: #eeeaea40;
$white-f6:#F6F6F6;
$white-f5: #F5F6F7;
$yellow: #FFC107;

//Font-family
$playfair: 'Playfair Display';
$rubik: 'Rubik';
