@import "../../assets/scss/common/variable";
@import "../../assets/scss/common/mixins";


.footerPage {
    background: $blue;
    position: relative;
    z-index: 2;
    padding: 240px 0 140px;
    a {
        color: $light-grey;
        text-decoration: underline;
        &:hover {
            color: $color-primary;    
        }
    }
    .footer-top{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 8%;
        .logo-link-footer{
            display: block;
            margin-bottom: 16px;
        }
        .title-h3{
            margin-bottom: 16px;
            color: $white;
        }
        p{
            font-size: 14px;
            color: $white;
            letter-spacing: -0.3px;
        }
        .list-footer{
            .list-item{
                margin-bottom: 12px;
                color: $white;
                font-size: 18px;
            }
            .list-link{
                color: $white;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .list-ns{
            display: flex;
            align-items: center;
            .list-item{
                .list-link{
                    text-decoration: none;
                }
                &:not(:last-child){
                    margin-right: 24px;
                }
                i{
                    font-size: 30px;
                }
            }
        }
    }
}