@import "../../assets/scss/common/variable";
@import "../../assets/scss/common/mixins";

.testimonial{
    .testimonial-img{
        position: relative;
        z-index: 2;
        margin-left: 40px;
        margin-bottom: -40px;
        img{
            border-radius: 100%;
            width: 100px;
            height: 100px;
            object-fit: cover;
        }
    }
    p,span{
        color: $grey;
    }
    .testimonial-content{
        background: $white-f5;
        border-radius: 12px;
        padding: 60px 40px 40px;
    }
    .testimonial-desc{
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 20px;
    }
    .testimonial-note{
        display: flex;
        margin-bottom: 20px;
        i{
            font-size: 20px;
            color: $yellow;
            &:not(:last-child){
                margin-right: 6px;
            }
        }
    }
    .testimonial-name{
        font-size: 24px;
        margin-bottom: 4px;
        font-family: $playfair;
    }
    .testimonial-job{
        font-size: 18px;
        margin-bottom: 0; 
    }

}