@import "../../assets/scss/common/variable";
@import "../../assets/scss/common/mixins";

.gabaritTrip{
    display: flex;
    flex-direction: column;
    height: 400px;
    transition: all 0.4s ease;
    @include max(992px){
        height: 100%;
    }
    &:hover{
        height: 545px;
        transform: translateY(-73px);
        transition: all 0.4s ease;
        @include max(992px){
            height: 100%;
            transform: initial;
        }
        .gabaritTrip-info{
            height: 100%;
            opacity: 1;
            transition: all 0.4s ease-in-out;
        }
    }
    .gabaritTrip-img{
        width: auto;
        height: 400px;
        object-fit: cover;
        border-radius: 26px;
    }
    .gabaritTrip-info{
        height: 0;
        opacity: 0;
        transition: all 0.4s ease-in-out;
        padding: 20px 0;
        color: $black;
        @include max(992px){
            height: 100%;
            opacity: 1;
        }
        p{
            font-size: 18px;
            margin-bottom: 0;
        }
        .title-h3{
            margin-bottom: 12px;
        }
        .gabaritTrip-top, .gabaritTrip-flex{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .gabaritTrip-top{
            margin-bottom: 12px;
        }
        .gabaritTrip-category{
            text-transform: uppercase;
        }
        .gabaritTrip-note{
            i{
               font-size: 20px;
               color: $yellow;
               &:not(:last-child){
                    margin-right: 6px;
                } 
            }
        }
    }
}